body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgb(98, 98, 98);
}

header {
  box-sizing: content-box;
  margin: 0 auto;
}

nav {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 84px 0px;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 900px;
}

.caption {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 17px;
  color: rgba(180, 173, 158, 90%);
  text-transform: uppercase;
  display: inline-block;
  box-sizing: content-box;
  width: 420px;
  margin: 0;
  padding: 28px 0px 26px;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  color: rgb(98, 98, 98);
}

.section h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  display: inline-block;
  width: 420px;
  box-sizing: content-box;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 42px;
}

.navigation {
  text-transform: uppercase;
  box-sizing: content-box;
  width: 900px;
  margin: 0 auto;
  padding: 0px;
}

.branch {
  margin: 0 120px 0 auto;
  list-style: none;
  list-style: none;
  display: inline-block;
  box-sizing: content-box;
}

.branch :hover {
  color: rgb(3, 169, 243);
}

.unit {
  display: inline-block;
  box-sizing: content-box;
  width: 420px;
  margin-bottom: 110px;
}

.left {
  margin-right: 56px;
}

.last {
  margin-bottom: 80px;
}

.unit img {
  display: block;
}

.unit p {
  display: inline-block;
  box-sizing: content-box;
  width: 420px;
  margin: 0;
}

.button {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(98, 98, 98);
  display: block;
  margin: 0px auto;
  padding-bottom: 92px;
  border: 0px;
  background-color: rgb(255, 255, 255);
}
