body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgb(98, 98, 98);
}

.caption {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 17px;
  color: rgba(180, 173, 158, 90%);
  text-transform: uppercase;
  display: inline-block;
  box-sizing: content-box;
  width: 420px;
  margin:0;
  padding: 28px 0px 26px;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  color: rgb(98, 98, 98);
}

h2 {display: inline-block;
  width: 420px;
  box-sizing: content-box;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 42px;

}

.button {
  font-size: 20px;
}

.lifestyle :hover {
  color: rgb(3, 169, 243);
}

li {
  list-style: none;
}

.navigation li {
  list-style: none;
  display: inline-block;
  box-sizing: content-box;
}

.navigation {
  text-transform: uppercase;
  box-sizing: content-box;
  width: 900px;
  margin: 0 auto;
  padding: 0px;
}

header {box-sizing: content-box;
margin: 0 auto;}

nav{margin: 0 auto;
  box-sizing: border-box;
padding: 84px 0px;
text-align: center;}

.lifestyle{margin: 0px 118px 0px auto;}
.photodiary{margin-right: 100px;}
.music{margin-right: 95px;}

main{ margin: 0 auto;
width: 900px;}

section{display: inline-block;
  box-sizing: content-box;
width: 420px;}

img{display: block;
}

p{ display: inline-block;
  box-sizing: content-box;
width: 420px;
margin: 0;}

.one_row_left{margin:0px 56px 110px 0px;}

.one_row_right {margin: 0px 0px 110px 0px;}

.second_row_left{margin: 0px 56px 110px 0px;}

.second_row_right{margin: 0px 0px 110px 0px;}

.third_row_left{margin: 0px 56px 60px 0px;}
.third_row_right{margin: 0px 0px 60px 0px;}

button{ display: block;
  margin: 0 auto;}
